[submodule "server-app/src/main/cpp/external/mad-location-manager-lib"]
	path = server-app/src/main/cpp/external/mad-location-manager-lib
	url = https://github.com/maddevsio/mad-location-manager-lib.git
